@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--border: #efefef;
}


@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--border: #1b1b1b;
		--foreground: #ededed;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

.light {
	background: #ffffff;
	color: #171717;
}

body {
	@apply font-[family-name:var(--font-geist-sans)];
}

h1 {
	@apply text-5xl font-bold;
}

h2 {
	@apply text-4xl;
}

.link {
	@apply border-b hover:text-foreground;
}

.list-item {
    @apply py-2 uppercase font-light tracking-wider w-fit;
}

.list-item .link-border {
    @apply border-b w-4/12 border-foreground transition-all duration-300 ease-in-out;
}

.list-item .link-border.active {
    @apply w-full;
}



